
.content {
    grid-area: content;
    background-color: wheat;
}
.content img {
    grid-area: content;
    background-color: wheat;
}
.dialogs__container {
    display: flex;
}
.messages {
    width: 70%;
}
.dialogs {
    width: 30%;
    display: flex;
    flex-direction: column;
}