.nav {
    grid-area: nav;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
}
.item {
    color: #ffffff;
    text-decoration: none;
}

.item.active {
    color: gold    
}