.container {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  grid-area: header;
  background-color: green;
}
.header img {
  width: 80px;
}
.nav {
  grid-area: nav;
  background-color: yellowgreen;
}
.content {
  grid-area: content;
  background-color: wheat;
}
.content img {
  grid-area: content;
  background-color: wheat;
}